<% include partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>
            <span class="glyphicon glyphicon-credit-card"></span> User List
            <p>This is the usersINDEX page</p>
            <a class="btn btn-primary btn-lg" href="/usersNEW">Add a User</a>
            <button type="submit" class="btn btn-primary btn-lg" form="RetrieveUsers">Retrieve Users from SP</button>
            <a class="btn btn-primary btn-lg" href="/">Home</a>
        </h1>
    </div>
</header>

<form action="/usersRetrieveCREATE" method="POST" id="RetrieveUsers"></form>

<div class="container">
 <div class="row text-left" style="display:flex; flex-wrap: wrap;">
    <% usersFromDB.forEach(function(user, index, array){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail center-caption">
                <a href="/usersINDEX/<%= user._id %>">
                   <h6>
                Given name: <%= user.given_name %><br>
               Family name: <%= user.family_name %><br>
                Birth date: <%= user.birth_date %><br>
                Cell phone: <%= user.mobile_phone %><br>
            Street address: <%= user.street_address %><br>
                      City: <%= user.address_locality %><br>
            State/Province: <%= user.address_region %><br>
           ZIP/Postal Code: <%= user.post_code %><br>
                   Country: <%= user.address_country %><br>
                        ID: <%= user.id %><br>
               Create Date: <%= user.create_date %><br>
               Update Time: <%= user.update_time %><br>
                   </h6>
                   <div class="caption">
                        <h5><center><%= user.given_name + " " + user.family_name %></c></center></h5>
                   </div>
                  </a>
            </div>
        </div>
    <% }); %>
</div>
</div>











<% include partials/footer %>